/* You can add global styles to this file, and also import other style files */
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --PrimaryFont:'Irish Grover', sans-serif;
    --SecundaryFont: 'Roboto', sans-serif;
    --bg-color: #ffffff;
    --text-color: #000000;
}


.errorMsg{
    color: red;
    font-size: .9rem;
}

/* THEME */

.dark-theme{
    --bg-color: #121212;
    --text-color: #ffffff;
}

/* SPECETIAL CASES OF DARK THEME */

body{
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}



/* NAVBAR */


@media screen and (max-width: 480px){
    .body_no_scroll{
        overflow-y: hidden;
        position: fixed;
        width: 100%;
    }
}



/* HOME */
.dark-theme #navigationProducts .boxCategory{
    background-color: rgb(186 186 186) !important;
}

.dark-theme .boxBanner .advertasing h2, .dark-theme .boxBanner .advertasing span{
    text-shadow: 1px 1px 5px black;
}

.dark-theme .slideExplores .explore1:hover div,.dark-theme .explore2:hover div{
    background-color: black !important;
}

.dark-theme .slideExplores div div button{
    background-color: white !important;
    color: black !important;
}

/* feminine/masculine */

.dark-theme .active{
    color: #7e7d7d !important;
}

.dark-theme .linksNav li a:hover{
    color: white !important;
}

/* shipping form */

/* .dark-theme form {
    background-color: #c9cfd0 !important;
    padding: 20px;
    border-radius: 20px;
} */


/* spinner */

.spinner{
    border: 4px solid white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-left-color: #3498db;
    animation: spin .4s linear infinite;
}

.bigSpinner{
    border: 4px solid white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-left-color: #3498db;
    animation: spin .5s linear infinite;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* style padrao dos cards */
.struturePadraoCards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.padraoCard{
    position: relative;
    height: 350px;
    width: 280px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: .5s;
    margin-bottom: 2rem;
}
.padraoCard:hover{
    transform: scale(1.1);
    z-index: 5;
}

.boxImg{
    width: 100%;
    height: 280px;
    background-color: rgba(234, 234, 234, 0.234);
    cursor: pointer;
}

.boxImg img{
    width: 100%;
    height: 100%;
}

.boxInfoProduct{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.btnsProduct{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    
}



.btnsProduct button{
    border: none;
    background-color: black;
    color: white;
    padding: .3rem .5rem;
    border-radius: 5px;
    font-size: 1.2rem;
}
.btnsProduct button i{
    cursor: pointer;
}



