


<div class="leftSide" *ngIf="product$ | async as item">
    <div>
        <img [src]="item.image" [alt]="item.name">
    </div>

    <p>{{item.info}}</p>
</div>



<div class="rightSide" *ngIf="product$ | async as item">
    <div class="firstDiv">
        <span>Mark as favorite</span>
        <button aria-label="heart icon" (click)="clickInHeart(item)" class="btnHeart">
            <i class="fa-regular fa-heart" *ngIf="item.isFavorite == false"></i>
            <i class="fa-solid fa-heart" *ngIf="item.isFavorite == true"></i>
        </button>
    </div>
    <div class="secondDiv">
        <span>{{item.name.toUpperCase()}}</span>
        <span>$ {{item.price}}</span>
    </div>
    
    <div class="thirdDiv" >
        <span>Size</span>
        <div>
            @for(size of productSize$ |async;track $index){
                <button [ngClass]="{'active': size.label === sizePicked}" (click)="pickSizeClothe(size.label)">{{size.label}}</button>
            }
        </div>
        
    </div>
    
    
    <button class="addToCart" (click)="addProductToCart(item)">Add to cart</button>

</div>
