


<div class="container">
    
    <form class="formReset" [formGroup]="resetPassword">

        <input type="text" name="newPassword" placeholder="New Password" formControlName="newPassword">
        @if(newPassword?.touched || newPassword?.dirty){
            <span class="errorMsg">{{messageErro('newPassword')}}</span>
        }

        <input type="text" name="checkingPassword" placeholder="Confirme Password" formControlName="checkingPassword">

        <button>Redefine</button>

    </form>
</div>


