


<div class="container">
    
    <form class="formReset" [formGroup]="resetPassword" (submit)="resetingPassword()" [ngClass]="{'desativateFormReset': passwordWasSent}">

        <input type="password" name="newPassword" placeholder="New Password" formControlName="newPassword">
        @if(newPassword?.dirty){
            <span class="errorMsg">{{messageErro('newPassword')}}</span>
        }

        <input type="password" name="checkingPassword" placeholder="Confirme Password" formControlName="checkingPassword">

        <button type="submit">Redefine</button>

    </form>

    <div class="passwordUpdatedScreen" [ngClass]="{'passwordSent': passwordWasSent}">
        <span>Password Updated...</span>
        <i class="fa-solid fa-check"></i>
        <span>Please, close this page and get back to the previous one!</span>
    </div>

</div>


