

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    width: 350px;
    height: 400px;
    border-radius: 20px;
    background-color: #365276;
}

.formReset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.formReset input{
    width: 90%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}
.formReset button{
    border: none;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.errorMsg{
    font-size: .9rem;
    color: red;
}
