<div class="boxFooterHeader">
    <h2>Clothe Store</h2>
    <div>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-github"></i>
    </div>
    
</div>

<div class="boxFooterBody">

    <div class="boxBody1">
        <h5>Stay connected to our news!</h5>
        <p>Sign-in to receive news</p>
        <a href="#">Sign-in</a>
    </div>

    <div class="boxBody2">
        <h5>Contact Us</h5>
        <p>(84) +55 99993-3800</p>
        <p>{{emailForContact}}</p>
    </div>

    <div class="boxBody3">
        <h5>You might be looking for: </h5>
        <div>
            <div>
                <p>Shoes</p>
                <p>Shirts</p>
                <p>Jackets</p>
            </div>
            <div>
                <p>Shorts</p>
                <p>Trainers</p>
                <p>High-Heels</p>
            </div>

        </div>
    </div>

</div>

<div class="boxFooterFooter">
    <span>Clothe Store &copy; 2025</span>
    <p>We can get your day better!</p>
</div>
