<div class="boxFooterHeader">
    <h2>Clothe Store</h2>
    <div>
        <a aria-label="whatsapp icon" href="https://wa.me/5584999933800" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp"></i></a>
        
        <a aria-label="linkedin icon" href="https://www.linkedin.com/in/vinícius-silva-26b715321" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>

        <a aria-label="github icon" href="https://github.com/vini0112" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
    </div>
    
</div>

<div class="boxFooterBody" id="navbarLinkContactUs">

    <div class="boxBody1">
        <h5>Stay connected to our news!</h5>
        <p *ngIf="!(isAuth$ | async)">Sign-in to receive news</p>
        <a *ngIf="!(isAuth$ | async)" href="/login">Sign-in</a>

        <p *ngIf="isAuth$ | async">We're daily sharing news here!</p> 
    </div>

    <div class="boxBody2">
        <h5>Contact Us</h5>
        <p>(84) +55 99993-3800</p>
        <p>{{emailForContact}}</p>
    </div>

    <div class="boxBody3">
        <h5>You might be looking for: </h5>
        <div class="boxLinkAtBody3">  
            <div>
                <a routerLink="/masculine/coats">Coats</a>
                <a routerLink="/masculine/shirts">Shirts</a>
                <a routerLink="/feminine/jackets">Jackets</a>
            </div>
            <div>
                <a routerLink="/masculine/shorts">Shorts</a>
                <a routerLink="/masculine/shoes">Trainers</a>
                <a routerLink="/feminine/shoesfemi">High-Heels</a>
            </div>

        </div>
    </div>

</div>

<div class="boxFooterFooter">
    <span>Clothe Store &copy; 2025</span>
    <p>We can get your day better!</p>
</div>


