
@if(loading){
    <div class="aligning">
        <span class="bigSpinner"></span>
    </div>

}@else{
    <!-- SUCCESS PAYMENT -->
    @if(successPayment){
        <div class="imgBox">
            <img src="assets/banners/banner_success3.png" alt="hand_sign">
        </div>
        
        <div class="phrase">
            <h3>Thank You!</h3>
            <div class="specialMsg">
                <i class="fa-solid fa-check"></i>
                <span>Payment Done Successfully</span>
            </div>
        
            <p>Your order keeps us happy and committed to improve each day!</p>
            <button (click)="goToHome()">Go to Home Page</button>
        </div> 
    }@else{
        <!-- FAILED PAYMENT -->
        <div class="deniedStatus">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <h5>Your payment was denied!</h5>
            <p>Sorry, we weren't able to complete your payment at this time. Please, make sure that your account informations are correct and try again.</p>
            <a routerLink="/home">Inicial Page</a>
        </div>
    }

}

