
:host{
    display: flex;
    height: 85vh;
    justify-content: center;
}

/* spinner */
.aligning{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBox{
    width: 100%;
    height: 40vh;
    background-color: #3DD43D;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBox img{
    width: 120px;
    height: 120px;
}

.phrase{
    width: 100%;
    height: calc(100% - 40vh);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.phrase h3{
    font-size: 2rem;
    font-weight: bold;
    color: #3DD43D;
}

.specialMsg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    
}
.specialMsg i {
    background-color: #3DD43D;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.specialMsg span{
    font-weight: 600;
}

.phrase p{
    text-align: center;
}

button{
    background-color: #3DD43D;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.1rem;
}
/* success page */
.successStatus{
    width: 100%;
}

/* denied page */
.deniedStatus{
    padding: 5px;
    max-width: 800px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.deniedStatus i{
    font-size: 5rem;
}

.deniedStatus h5{
    font-weight: bold;

}
.deniedStatus p{
    text-align: center;
}
.deniedStatus a{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: red;
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
}

