

<div class="firstBlock">
    <!-- total users -->
    <div class="boxeWrapper">
        <div class="boxes">
            <div>
                <span>Users registered</span>
                <span>1</span>
            </div>
            <p>
                <i class="fa-solid fa-arrow-up"></i>
                <span class="increased">+5%</span>
                <span>Since last month</span>
            </p>
        </div>
        <div class="boxes">
            <div>
                <span>Online Users</span>
                <span>{{onlineUsers}}</span>
            </div>
            <p>
                <span class="increased">10%</span>
                <span>of online users</span>
            </p>
        </div>
    </div>

    <div class="boxTableCustomers">
        <span class="titleTable">High-Value Customers</span>

        <table>
            <thead>
                <tr>
                    <th class="sizeP">ID</th>
                    <th class="sizeM">Customer</th>
                    <th class="sizeM">Purchases</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="sizeP">1</td>
                    <td class="sizeM">Vinicius</td>
                    <td class="sizeM">10</td>
                </tr>

            </tbody> 

        </table>
    </div>

</div>

<div class="secondBlock">
    
</div>