

<div class="firstBlock">
    <!-- total users -->
    <div class="boxeWrapper">
        <div class="boxes">
            <div>
                <span>Users registered</span>
                <span>{{(usersData$ | async)?.length}}</span>
            </div>
            <p>
                <i class="fa-solid fa-arrow-up"></i>
                <span class="increased">+5%</span>
                <span>Since last month</span>
            </p>
        </div>
        <div class="boxes">
            <div>
                <span>Online Users</span>
                <span>{{onlineUsers}}</span>
            </div>
            <p>
                <span class="increased">10%</span>
                <span>of online users</span>
            </p>
        </div>
    </div>

    <div class="boxTableCustomers">
        <span class="titleTable">High-Value Customers</span>

        <table>
            <thead>
                <tr>
                    <th class="sizeP">ID</th>
                    <th class="sizeM">Customer</th>
                    <th class="sizeM">Purchases</th>
                </tr>
                
            </thead>

            <tbody>
                @for(user of highValueClients$| async; track $index){
                    <tr>
                        <td class="sizeP">{{user}}</td>
                        <td class="sizeM">Vinicius</td>
                        <td class="sizeM">10</td>
                    </tr>
                }
            </tbody> 

        </table>
    </div>

</div>

<div class="secondBlock">
    <div class="titleSecondBlock"><span>Clients</span></div>

    <div class="boxTableAllUsers">
        <table>
            <thead>
                <tr>
                    <th class="tableUsersP">ID</th>
                    <th class="tableUsersG">Username</th>
                    <th class="tableUsersG">Email</th>
                    <th class="tableUsersM">Ammount</th>
                    <th class="tableUsersM">Purchases</th>
                    <th class="tableUsersP"><i class="fa-solid fa-trash"></i></th>
                </tr>
            </thead>

            <tbody>
                @for(user of usersData$ | async; track $index){ 
                <tr>
                    <td class="tableUsersP">{{user.idUsers}}</td>
                    <td class="tableUsersG">{{user.username}}</td>
                    <td class="tableUsersG">{{user.email}}</td>
                    <td class="tableUsersM">${{user.ammount}}</td>
                    <td class="tableUsersM">{{user.purchases}}</td>
                    <td class="tableUsersP">
                        <button class="btnDeleteUser" (click)="btnDeleteUser(user.idUsers)" type="button">Delete</button>
                    </td>
                </tr>
                }
                
            </tbody>

        </table>
    </div>
    
</div>