

<div class="firstBlock">
    <!-- total users -->
    <div class="boxes">
        <div>
            <span>Users registered</span>
            <span>1</span>
        </div>
        <p>
            <i class="fa-solid fa-arrow-up"></i>
            <span class="increased">+11.5%</span>
            <span>Since last month</span>
        </p>
    </div>

    <div class="boxes">users online {{onlineUsers}}</div>

    <div class="boxTableCustomers">
        <span>High-Value Customers</span>

        <table>
            <thead>
                <tr>
                    <th class="sizeP">ID</th>
                    <th class="sizeM">Customer</th>
                    <th class="sizeM">Purchases</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="sizeP">1</td>
                    <td class="sizeM">Vinicius</td>
                    <td class="sizeM">10</td>
                </tr>

            </tbody> 

        </table>
    </div>

</div>

<div class="secondBlock">
    
</div>