
<h5 style="text-align:center;">Create New Product</h5>
<form >
    
    <div class="leftSideInputs">
        <input type="text" name="productName" placeholder="product name">
        <input type="text" name="section" placeholder="section">
        <input type="text" name="sexo" placeholder="sexo">
        <input type="number" name="price" placeholder="price">
        <input type="number" name="qtd" placeholder="quantity">
    </div>

    
    <div class="rightSideInputs">
        <input type="file" name="imageProduct">
        <textarea name="" id="" placeholder="product information..."></textarea>

        <div class="btnsPostProduct">
            <button>Clear</button>
            <button>Create</button>
        </div>
    </div>

</form>

<i class="fa-solid fa-arrow-left-long btnGoBack" (click)="goBackToProductTools()"></i>


<!-- 
price: number,
isFavorite: boolean,


isBestseller: boolean
quantity: number -->


