

:host{
    height: 100%;
    display: block;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

form{
    border: 1px solid var(--text-color);
    border-radius: 20px;
    box-shadow: 1px 1px 3px var(--text-color);
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    background-color: white;
}


.leftSideInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.leftSideInputs input, select{
    height: 50px;
    width: 80%;
    outline: none;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem;

}



.rightSideInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    color: black;

}
.rightSideInputs input{
    width: 80%;
    font-size: 1rem;
}
.boxClotheSize{
    max-width: 300px;
    height: 70px;
    width: 100%;
}

.boxRadios{
    display: flex;
    justify-content: space-evenly;
}

.boxRadios div{
    display: flex;
    gap: .3rem;
    font-size: 1.1rem;
}

.boxTextArea{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textAreaWarning{
    width: 80%;
    text-align: end;

}
.textAreaWarning.active{
    display: flex;
    justify-content: space-between;
    
    /* margin: 0; */
}


.rightSideInputs textarea{
    padding-left: 5px;
    width: 80%;
    height: 80px;
    border-radius: 5px;
    outline: none;
    margin: auto;
    font-size: 1rem;

}



.btnsPostProduct{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.btnsPostProduct button{
    font-size: 1rem;
    border: none;
    padding: .4rem 1.2rem;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.btnsPostProduct button:first-child{
    background-color: red;
}
.btnsPostProduct button:last-child{
    background-color: green;
}


/* link */
.btnGoBack{
    background-color: var(--text-color);
    padding: .4rem 1.8rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--bg-color);
    margin-top: 1rem;
    cursor: pointer;
}


/* erro menssage */
.erroMsg{
    color: red;
    font-size: 0.9rem;
}

.specialMargin{
    margin-top: -2rem;
}

/*  */



@media (max-width: 820px){
    form{
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 450px){
    form{
        border: 1px solid black;
        border-radius: 10px;
        width: 80%;
        height: 750px;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .leftSideInputs{
        margin-bottom: 1rem;
    }
    .leftSideInputs input, select{
        width: 90%;
        
    }
    .rightSideInputs textarea{
        width: 90%;
    }


    .specialMargin{
        margin-top: .2rem;
        /* margin-bottom:1rem; */
    }
    
}

