
<h3 style="text-align:center;">Create New Product</h3>
<form [formGroup]="postForm" data-testid="postForm">
    
    <div class="leftSideInputs">
        <input type="text" name="name" placeholder="product name" formControlName="name" #productName>
        
        <span class="erroMsg" *ngIf="submitted && postForm.controls['name'].invalid">Product name required</span>

        <select name="section" formControlName="section" (change)="resetCheckBoxAfterChanges()">
            <option value="" disabled selected>Clothe section</option>
            <option value="shirts">Shirts</option>
            <option value="shoes">Shoes</option>
            <option value="shorts">Shorts</option>
            <option value="jackets">Jackets</option>
            <option value="coats">Coats</option>
        </select>
        <span class="erroMsg" *ngIf="submitted && sectionSelect.invalid">Section required</span>


        <select name="sexo" formControlName="sexo" (change)="resetCheckBoxAfterChanges()">
            <option value="" disabled selected>Choose your sexo</option>
            <option value="masc" *ngIf="sectionSelect.value !== 'jackets'">Masculine</option>
            <option value="femi" *ngIf="sectionSelect.value !== 'coats'">Feminine</option>
        </select>
        
        <span class="erroMsg" *ngIf="submitted && sexoSelect.invalid">Sexo required</span>
        
    
        <input type="number" name="price" placeholder="price" formControlName="price">
        <span class="erroMsg" *ngIf="submitted && postForm.controls['price'].invalid">Price required</span>

        <input type="number" name="quantity" placeholder="quantity" formControlName="quantity">
        <span class="erroMsg" *ngIf="submitted && postForm.controls['quantity'].invalid">Quantity required</span>

    </div>

    
    <div class="rightSideInputs"> 

        <div class="boxClotheSize" *ngIf="sectionSelect.value && sexoSelect.value">
            <h3 style="font-family: var(--PrimaryFont);">Size</h3>

            <div class="boxRadios" formArrayName="checkboxes">

                @for(size of sizeOptions;track $index){
                <div *ngIf="size.sexo === sexoSelect.value && sectionSelect.value === 'shoes';else normalClotheSizes">
                    <label for="">{{size.label}}</label>
                    <input type="checkbox" [name]="size.label" [value]="size.value" [formControlName]="$index">
                </div>

                <ng-template #normalClotheSizes>
                    <div *ngIf="size.sexo === 'both' && sectionSelect.value !== 'shoes'">
                        <label for="">{{size.label}}</label>
                        <input type="checkbox" [name]="size.label" [value]="size.value" [formControlName]="$index">
                    </div>
                </ng-template>

                }
                
            
            </div>

            <span class="erroMsg" *ngIf="submitted && postForm.controls['checkboxes'].invalid">Please select at least one option</span>

        </div>


        <input type="file" name="image" (change)="onFileSelect($event)" #inputImage>
        <span class="erroMsg specialMargin" *ngIf="submitted && postForm.controls['image'].invalid">Image required</span>

        <div class="boxTextArea">
            <textarea name="info" placeholder="product information..." formControlName="info"></textarea>

            <div class="textAreaWarning" [ngClass]="{'active': submitted && postForm.controls['info'].invalid || postForm.controls['info'].hasError('maxlength')}">


                <span class="erroMsg" *ngIf="submitted && postForm.controls['info'].invalid && !postForm.controls['info'].hasError('maxlength') ">Description of the product required</span>

                <span class="erroMsg" *ngIf="postForm.controls['info'].hasError('maxlength')">Characters limit reached!</span>
                
                <span>{{textareaCounter || 0}}/100</span>
            </div>
        </div>
        

        

        <div class="btnsPostProduct">
            <button type="button" (click)="clearForm()">Clear</button>
            <button type="submit" (click)="createProduct()">Create</button>
        </div>
    </div>

</form>

<i class="fa-solid fa-arrow-left-long btnGoBack" (click)="goBackToProductTools()"></i>





