
<h5 style="text-align:center;">Create New Product</h5>
<form [formGroup]="postForm">
    
    <div class="leftSideInputs">
        <input type="text" name="name" placeholder="product name" formControlName="name" #productName>
        <!-- postForm.controls['name'].touched -->
        <span class="erroMsg" *ngIf="submitted && postForm.controls['name'].invalid">Product name required</span>

        <select name="section" formControlName="section">
            <option value="" disabled selected>Clothe section</option>
            <option value="shirts">Shirts</option>
            <option value="shoes">Shoes</option>
            <option value="shorts">Shorts</option>
            <option value="jackets">Jackets</option>
            <option value="coats">Coats</option>
        </select>
        <span class="erroMsg" *ngIf="submitted && postForm.controls['section'].invalid">Section required</span>


        <select name="sexo" formControlName="sexo">
            <option value="" disabled selected>Choose your sexo</option>
            <option value="masc" *ngIf="postForm.controls['section'].value !== 'jackets'">Masculine</option>
            <option value="femi" *ngIf="postForm.controls['section'].value !== 'coats'">Feminine</option>
        </select>
        <span class="erroMsg" *ngIf="submitted && postForm.controls['sexo'].invalid">Sexo required</span>
        
    
        <input type="number" name="price" placeholder="price" formControlName="price">
        <span class="erroMsg" *ngIf="submitted && postForm.controls['price'].invalid">Price required</span>

        <input type="number" name="quantity" placeholder="quantity" formControlName="quantity">
        <span class="erroMsg" *ngIf="submitted && postForm.controls['quantity'].invalid">Quantity required</span>

    </div>

    
    <div class="rightSideInputs"> 
        <input type="file" name="image" (change)="onFileSelect($event)" #inputImage>
        <span class="erroMsg specialMargin" *ngIf="submitted && postForm.controls['image'].invalid">Image required</span>

        <div class="boxTextArea">
            <textarea name="info" placeholder="product information..." formControlName="info"></textarea>

            <div class="textAreaWarning" [ngClass]="{'active': submitted && postForm.controls['info'].invalid || postForm.controls['info'].hasError('maxlength')}">


                <!-- || postForm.controls['info'].touched -->
                <span class="erroMsg" *ngIf="submitted && postForm.controls['info'].invalid && !postForm.controls['info'].hasError('maxlength') ">Description of the product required</span>

                <span class="erroMsg" *ngIf="postForm.controls['info'].hasError('maxlength')">Characters limit reached!</span>
                
                <span>{{textareaCounter || 0}}/100</span>
            </div>
        </div>
        

        

        <div class="btnsPostProduct">
            <button (click)="clearForm()">Clear</button>
            <button (click)="createProduct()">Create</button>
        </div>
    </div>

</form>

<i class="fa-solid fa-arrow-left-long btnGoBack" (click)="goBackToProductTools()"></i>





