

<h2 style="text-align: center; margin: 1rem 0 3rem 0;">All Products</h2>

<!--productCreation-->
<div class="linksNavigation" *ngIf="createNewProductPage()">
    <button (click)="isProductsTableActive()" class="btnCreateProduct">Add New Product</button>
</div>

<div class="boxTable"> <!-- used just to create a scroll-x in mobile screen-->
    
    <table *ngIf="createNewProductPage()">
        <thead>
            <tr>
                <th class="sizeP">Id</th>
                <th class="sizeG">Nome</th>
                <th class="sizeGG">Info</th>
                <th class="sizeM">Section</th>
                <th class="sizeM">Sexo</th>
                <th class="sizeP">Qtd</th>
                <th class="sizeM">Price</th>
                <th class="sizeG">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for(item of allProducts$ | async; track $index){
                <tr>
                    <td class="sizeP">{{item.id}}</td>
                    <td class="sizeG">{{item.name}}</td>
                    <td class="sizeGG">{{item.info}}</td>
                    <td class="sizeM">{{item.section}}</td>
                    <td class="sizeM">{{item.sexo}}</td>
                    <td class="sizeP">{{item.quantity}}</td>
                    <td class="sizeM">{{item.price.toFixed(2)}}</td>
                    <td class="btnsCrud">
                        <button class="edit" (click)="editProduct(item)">Edit</button>
                        <button class="del" (click)="deleteProduct(item.id!)">Del</button>
                    </td>
                </tr>
            }
        </tbody> 
    
    </table>

</div>

<div class="boxEditModel" *ngIf="editDialogOpen">
    <form>
        <div class="boxInputsEdit">
            <input type="text" >
            <input type="text" >
            <input type="text" >
            <input type="text" >
            <input type="text" >
        </div>
        <div class="boxBtnsEdit">
            <button>Cancel</button>
            <button>Save Changes</button>
        </div>
    </form>
</div>

<div class="shadow"></div>



<!-- post new product compenet -->
<app-creating-product *ngIf="!createNewProductPage()" (statusCreationPage)="handleResponse($event)"></app-creating-product>


