

<div class="boxLogin">
    <div class="signInBox" [ngClass]="{'scrollToRightBar': scrollBarTrigger, 'scrollBack': scrollBack}">
        

        @if(scrollBack == true){
            <h4>Sign Up</h4>
            <form [formGroup]="signUpForm" (submit)="onSubmit()">
                <input type="text" placeholder="Username" name="username" formControlName="username">
                @if(username?.touched || submitted && messageErro('username')){
                    <span class="errorMsg">{{messageErro('username')}}</span>
                }

                <input type="email" name="email" placeholder="Email" formControlName="email">
                @if(email?.touched || submitted && messageErro('email')){
                    <span class="errorMsg">{{messageErro('email')}}</span>
                }

                <div class="passwordBox">
                    <input [type]="passwordVisible? 'text' : 'password'" placeholder="Password" name="password" formControlName="password">
                    @if(password?.touched || submitted && messageErro('password')){
                        <span class="errorMsg">{{messageErro('password')}}</span>
                    }

                    <!-- icon see password -->
                    @if(passwordVisible == true){
                        <i class="fa-solid fa-eye openEye" (click)="closeEye()"></i>
                    }@else{
                        <i class="fa-solid fa-eye-slash closeEye" (click)="openEye()"></i>
                    }
                    
                </div>

                <p>Already has an account? <i class="fa-solid fa-arrow-right-long arrowRight" (click)="movingBarBack()"></i></p>
                <button type="submit">Sign Up</button>
            </form> 
            
        }@else{
            <h4>Sign In</h4>
            <form [formGroup]="signInForm" (submit)="onSubmitSignIn()">
                <input type="email" placeholder="Email" name="email" formControlName="email">
                
                <div class="passwordBox">
                    <input [type]="passwordVisible? 'text' : 'password'" placeholder="Password" formControlName="password" name="password">
                
                    <!-- icon see password -->
                    @if(passwordVisible == true){
                        <i class="fa-solid fa-eye openEye" (click)="closeEye()"></i>
                    }@else{
                        <i class="fa-solid fa-eye-slash closeEye" (click)="openEye()"></i>
                    }
                </div>

                <p>Forgot your <a routerLink="" class="forgotPassword">password?</a></p>
                <button type="submit">Sign In</button>
            </form> 
            
        }
        
        

    </div>

    <div class="greetings" [ngClass]="{'scrollToLeftBar': scrollBarTrigger, 'scrollBack': scrollBack}">

        

        @if(scrollBack == false){
            <div class="greetingSignUp">

                <h3>Welcome Back!</h3>
                <p>Enter your personal detail to use all of site features!</p>
                <button (click)="movingBarLogin()">Sign Up</button>

            </div>
        }@else{
            <div class="greetingLogin">
                <h3>Hello, Friend!</h3>

                <p>Register with your personal details to use all of site features!</p>
                <button (click)="movingBarBack()">Sign In</button>
            </div>
        }
        
    </div>


</div>


