

<div class="boxLogin">

    <!-- FORMS -->
    <div class="signInBox" [ngClass]="{'scrollToRightBar': loginPage, 'scrollBack': signUpPage}">
        
        <!-- SIGN UP FORM -->
        @if(signUpPage == true){
            <h4>Sign Up</h4>
            <div class="auth0IconsBox">
                <button (click)="auth0Logout()">{{auth0.isAuthenticated$ | async}}</button>
                <i class="fa-brands fa-google" (click)="popUpAuth0Login()"></i>
            </div>
            <form [formGroup]="signUpForm" (submit)="submitSignUpForm()" data-testid="signupSubmit">
                <input type="text" placeholder="Username" name="username" formControlName="username">
                @if(SignUp_username?.touched || submittedSignUpForm){ 
                    <span class="errorMsg">{{messageErro('username')}}</span>
                }
                
                <input type="email" name="email" placeholder="Email" formControlName="email">
                @if(SignUp_email?.touched || submittedSignUpForm){
                    <span class="errorMsg">{{messageErro('email')}}</span>
                }

                <div class="passwordBox">
                    <input [type]="passwordVisible? 'text' : 'password'" placeholder="Password" name="password" formControlName="password">
                    
                    <!-- icon see password -->
                    @if(passwordVisible == true){
                        <i class="fa-solid fa-eye openEye" (click)="closeEye()"></i>
                    }@else{
                        <i class="fa-solid fa-eye-slash closeEye" (click)="openEye()"></i>
                    }
                    
                </div>
                @if(SignUp_password?.touched || SignUp_password?.dirty ||submittedSignUpForm){
                    <span class="errorMsg">{{messageErro('password')}}</span>
                }

                <p>Already has an account? <i class="fa-solid fa-arrow-right-long arrowRight" (click)="movingToLogin()"></i></p>
                <button type="submit">Sign Up</button>
            </form> 
            
        }@else{
            <h4>Sign In</h4>
            <form [formGroup]="signInForm" (submit)="onSubmitSignIn()" data-testid="SingInForm">
                
                <input type="email" placeholder="Email" name="email" formControlName="email">
                
                <div class="passwordBox">
                    <input [type]="passwordVisible? 'text' : 'password'" placeholder="Password" formControlName="password" name="password">
                
                    <!-- icon see password -->
                    @if(passwordVisible == true){
                        <i class="fa-solid fa-eye openEye" (click)="closeEye()"></i>
                    }@else{
                        <i class="fa-solid fa-eye-slash closeEye" (click)="openEye()"></i>
                    }
                </div>

                <p>Forgot your <a (click)="retrievePassword()" class="forgotPassword">password?</a></p>
                <div class="submitMobileAndReplacePage">
                    <button type="submit">Sign In</button>
                    <i class="fa-solid fa-arrow-left-long arrowLeft" (click)="movingToSignup()"></i>
                    
                </div>
            </form> 
            
        }

    </div>

    
    <!-- GREETINGS -->
    <div class="greetings" [ngClass]="{'scrollToLeftBar': loginPage, 'scrollBack': signUpPage}">

        @if(signUpPage == false){
            <div class="greetingSignUp">

                <h3>Welcome Back!</h3>
                <p>Enter your personal detail to use all of site features!</p>
                <button (click)="movingToSignup()" data-testid="signInGreetingsPage">Sign Up</button>

            </div>
        }@else{
            <div class="greetingLogin">
                <h3>Hello, Friend!</h3>

                <p>Register with your personal details to use all of site features!</p>
                <button (click)="movingToLogin()" data-testid="signupGreetingsPage">Sign In</button>
            </div>
        }
        
    </div>

    
    <!-- pop-up -->
    <div class="popupPassword" [ngClass]="{'popActive': popActive}">

        @if(loadingData){
            <div class="spinner"></div>
        }@else{

            <form  #myForm="ngForm" (submit)="sendingEmailReset(myForm)" [ngClass]="{'hiddenFromEmailReset': EmailWasSent}" data-testid="emailResetPasswordForm">

                <input type="email" placeholder="Email" name="sendingEmail" required #inputEmail="ngModel" [(ngModel)]="user.sendingEmail" email data-testid="sendingEmail">
                @if(submittedEmailReset && inputEmail.errors?.['email']){ 
                    <span id="errorEmail">Email Invalid</span>
                }

                <span>Reset your password</span>
                <button type="submit">Send</button>
            </form>

            <div class="emailSentSuccessful" [ngClass]="{'emailSent': EmailWasSent}">
                <span>Email Sent...</span>
                <i class="fa-solid fa-check"></i>
                <span>Check your Email!</span>
            </div>
        }

    </div>
    

</div>

<!-- shadow -->
<div class="shadowPopup" [ngClass]="{'shadowPopup': shadowPopupActive}" (click)="desativateShadowPopup()"></div>

