
:host{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMsg{
    color: red;
    font-size: .9rem;
}
.passwordBox{
    width: 100%;
    position: relative;
}
.passwordBox input{
    width: 100%;
}

.openEye{
    font-size: 1.3rem;
    position: absolute;
    left: 90%;
    top: 25%;
    cursor: pointer;
}
.closeEye{
    font-size: 1.3rem;
    position: absolute;
    left: 90%;
    top: 25%;
    cursor: pointer;
}

.arrowRight{
    font-size: 1.5rem;
    padding-left: 1rem;
    cursor: pointer;
}

.forgotPassword{
    padding-left: 5px;
    cursor: pointer;
}

/* @keyframes closeEye{

} */





.boxLogin{
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 550px;
    box-shadow: 1px 1px 10px black;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}



.signInBox{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signInBox.scrollToRightBar{
    animation: scrollToRight 0.5s forwards;
}
.signInBox.scrollBack{
    animation: scrollBackForm 0.5s backwards;
}

.signInBox h4{
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.signInBox form{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    width: 80%;
    margin-bottom: 2rem;
}

.signInBox form input{
    border: none;
    background-color: #80808011;
    height: 50px;
    border-radius: 10px;
    padding-left: 6px;
    font-size: 1.1rem;
    outline: none;
}
.signInBox p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signInBox p a{
    text-decoration: none;
}
.signInBox p a:hover{
    text-decoration: underline;
}

.signInBox button{
    border: none;
    padding: .5rem 1rem;
    color: white;
    background-color: black;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 5px;
    width: 120px;
    margin: auto;
}


/*  */
.greetings{
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 100px;
    background-color: #7C8EA6;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.greetings.scrollToLeftBar{
    transition: 0.5s;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    animation: scrollToLeft 0.5s forwards;
}

.greetings.scrollBack{
    transition: 0.5s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 100px;
    animation: scrollBackGreetings 0.5s forwards;
}


.greetingSignUp{
    max-width: 400px;
    width: 100%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.greetingLogin{
    max-width: 400px;
    width: 100%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.greetingLogin h3{
    font-size: 2rem;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;

}
.greetingLogin p{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.greetingLogin button{
    border: none;
    padding: .4rem 1.5rem;
    border-radius: 5px;
    color: white;
    background-color: #364962; 
    font-weight: 500;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px black;
}

.greetingSignUp h3{
    font-size: 2rem;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;

}
.greetingSignUp p{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.greetingSignUp button{
    border: none;
    padding: .4rem 1.5rem;
    border-radius: 5px;
    color: white;
    background-color: #364962;
    font-weight: 500;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px black;
}



/* form */
@keyframes scrollToLeft{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-100%);
    }
}
@keyframes scrollBackForm{
    from{
        transform: translateX(100%);
    }to{
        transform: translate(0);
    }
}


/* greetings */
@keyframes scrollToRight{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(100%);
    }
}

@keyframes scrollBackGreetings{
    from{
        transform: translateX(-100%);
    }to{
        transform: translate(0);
    }
}



/* pop up email */
.popupPassword{
    position: absolute;
    border-radius: 10px;
    height: 250px;
    width: 300px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7C8EA6;
    top: 20%;
    left: 40%;
    padding: 20px;
    z-index: 5;
}
.popupPassword.popActive{
    display: flex;
}

.popupPassword input{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 5px;

}
.popupPassword span{
    color: white;
    text-shadow: 1px 1px 1px black;
    padding-top: .8rem;
    
}
.popupPassword button{
    border: none;
    margin-top: 1rem;
    padding: .4rem 1.3rem;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.shadowPopup{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.441);
}