

:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.salesWarn{
    color: red;
    margin-bottom: 8rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin: auto;
}

.decreased{
    color: red;
    font-weight: bold;
    padding-right: .4rem;
}
.increased{
    color: #008FFB;
    font-weight: bold;
    padding-right: .4rem;
}


/* first */
.firstBlock{
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boxAllPrices{
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.boxOfSales{
    max-width: 250px;
    width: 100%;
    height: 150px;
    box-shadow: 1px 1px 5px var(--text-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}


.boxOfSales div{
    display: flex;
    flex-direction: column;
    border-left: 5px solid #008FFB;
}

.boxOfSales div span{
    padding-left: .7rem;
}

.boxOfSales div span:first-child{
    font-size: .9rem;
}

.boxOfSales div span:last-child{
    font-size: 1.5rem;
    font-weight: bold;
}

.boxOfSales p{
    padding-top: .8rem;
}

.boxOfSales p i{
    padding-right: .3rem;
}

.boxOfSales p span{
    font-size: .9rem;
}


/* week sales */

.weekSales{
    height: 280px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: .8rem;
}




.weekSales .yesSalesNow{
    width: 96%;
    margin-left: auto;
    border-left: 5px solid #008FFB;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weekSales .yesSalesNow span{
    padding-left: .7rem;
}

.weekSales div  span:first-child{
    font-size: .9rem;
}
.weekSales div span:last-child{
    font-size: 1.5rem;
    font-weight: bold;
}





/* second */
.secondBlock{
    display: flex;
    height: 55%;
}

.yearSales{
    width: 50%;
    height: 95%;
    display: flex;
    align-items: end;
    justify-content: center;
    
}
.dataYear{
    width: 100%;
    border-radius: 10px;
}





.boxInvoices{
    width: 50%;
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #0000000c;
}

.nav span, i{
    font-weight: bold;
}

table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table thead{
    margin-top: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
table thead tr{
    box-shadow: 1px 1px 5px black;
}


table tbody{
    margin-top: .3rem;
    height: 260px; 
    overflow-y: auto;
}

tbody::-webkit-scrollbar{
    width: 5px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;
    cursor: pointer;
}



table tbody tr{
    height: 35px;
}

table tbody tr td{
    text-align: center;
    padding-top: .5rem;
    padding-bottom: 5px;
}


.statusPayment{
    font-weight: bold;
    padding: .3rem 1.1rem;
    border-radius:50%;
    font-size: .9rem;
}


.statusPayment.paid{
    color: green;
    background-color: #0cf04d;
}

/* columns THEAD size */
.sizeP{
    width: 80px;
    text-align: center;
}


.sizeM{
    width: 125px;
    text-align: center;
}



@media (max-width: 1200px){

    :host{
        justify-content: start;
    }

    .firstBlock{
        height: 30%;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1rem;
    }



    .secondBlock{
        height: 100%;
        display: flex;
        flex-direction: column;
    }


    .yearSales{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .boxInvoices{
        width: 100%;
        padding: 10px;
    }

    /* columns THEAD size */
    .sizeP{
        width: 80px;
        text-align: center;
    }


    .sizeM{
        width: 160px;
        text-align: center;
    }

}


@media (max-width: 820px){
    .boxAllPrices{
        max-width: 800px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxOfSales{
        max-width: 250px;
        width: 100%;
        height: 120px;
        box-shadow: 1px 1px 5px black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
    }

    /* columns THEAD size */
    table tbody{
        margin-top: .3rem;
        height: 200px; 
        overflow-y: auto;
    }
    .sizeP{
        width: 60px;
        text-align: center;
    }


    .sizeM{
        width: 120px;
        text-align: center;
    }

}


@media screen and (max-width: 480px){
    

    .noSalesWarn{
        color: red;
        margin-bottom: 0rem;
        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .firstBlock{
        height: 100%;
        flex-direction: column;
        justify-content: none;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;
    }

    .boxAllPrices{        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxOfSales{
        max-width: 300px;
        height: 150px;
        width: 100%;        
    }

    .secondBlock{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    /* columns THEAD size */
    table tbody{
        margin-top: .3rem;
        height: 200px; 
        overflow-y: auto;
    }
    .sizeP{
        width: 50px;
        text-align: center;
        font-size: .9rem;
    }


    .sizeM{
        width: 100px;
        text-align: center;
        font-size: .9rem;

    }

}





/* @media screen and (orientation: landscape) and (max-height: 480px){
    .firstBlock{
        height: 100%;
        flex-direction: row;
        justify-content: none;
        align-items: center;
    }
    .boxAllPrices{    
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .boxOfSales{
        max-width: 200px;
        width: 100%;        
    }
} */



/* landscape iphone SE */
/* @media screen and (orientation: landscape) and (max-height: 380px){
    .firstBlock{
        height: 100%;
        flex-direction: row;
        justify-content: none;
        align-items: center;
    }

    .boxAllPrices{    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxOfSales{
        max-width: 170px;
        width: 100%;        
    }

    
    .boxOfSales div span:last-child{
        font-size: 1rem;
    }

    .boxOfSales p{
        padding-top: .5rem;
        margin-bottom: 0;
    }
    
}  */
