

:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    
}

.decreased{
    color: red;
    font-weight: bold;
    padding-right: .4rem;
}
.increased{
    color: #008FFB;
    font-weight: bold;
    padding-right: .4rem;
}


/* first */
.firstBlock{
    height: 45%;
    border: 2px solid #011290;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boxAllPrices{
    border: 2px solid green;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.boxOfSales{
    max-width: 250px;
    width: 100%;
    height: 150px;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}


.boxOfSales div{
    display: flex;
    flex-direction: column;
    border-left: 5px solid #008FFB;
}
.boxOfSales div span{
    padding-left: .7rem;
}
.boxOfSales div span:first-child{
    font-size: .9rem;
}
.boxOfSales div span:last-child{
    font-size: 1.5rem;
    font-weight: bold;
}


.boxOfSales p{
    padding-top: .8rem;
}
.boxOfSales p i{
    padding-right: .3rem;
}

.boxOfSales p span{
    font-size: .9rem;
}


/* week sales */

.weekSales{
    /* border: 2px solid purple; */
    height: 280px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: .8rem;
}

.weekSales div{
    width: 96%;
    margin-left: auto;
    border-left: 5px solid #008FFB;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weekSales span{
    padding-left: .7rem;
}

.weekSales div span:first-child{
    font-size: .9rem;
}
.weekSales div span:last-child{
    font-size: 1.5rem;
    font-weight: bold;
}





/* second */
.secondBlock{
    display: flex;
    height: 55%;
}

.yearSales{
    width: 50%;
    height: 95%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.dataYear{
    width: 100%;
}

.boxInvoices{
    width: 50%;
    /* border: 2px solid red; */
    padding: 10px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #0000000c;
    
}

.nav span, i{
    font-weight: bold;
    
}
table{
    margin-top: .5rem;
    width: 100%;
}

table thead tr{
    text-align: center;
    box-shadow: 1px 1px 5px black;
}


table tbody tr td{
    text-align: center;
    padding-top: .5rem;
}

.statusPayment{
    font-weight: bold;
    padding: 6px;
    border-radius: 10px;
}


.statusPayment.paid{
    color: green;
    background-color: #0cf04d;
}


@media (max-width: 1200px){

    :host{
        justify-content: start;
    }

    .firstBlock{
        height: 30%;
        justify-content: space-evenly;
        align-items: center;
    }

    .secondBlock{
        display: flex;
        height: 70%;
    }


    .yearSales{
        width: 50%;
        height: 95%;
        display: flex;
        align-items: start;
        justify-content: center;
    }

}

@media (max-width: 820px){

    :host{
        justify-content: start;
    }

    .firstBlock{
        height: 30%;
        justify-content: space-evenly;
        align-items: center;
    }

    .boxAllPrices{
        border: 2px solid green;
        max-width: 800px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .secondBlock{
        display: flex;
        flex-direction: column;
        /* height: 70%; */
    }


    .yearSales{
        width: 100%;
        height: 300px;
        border: 2px solid black;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .boxInvoices{
        width: 100%;
        /* border: 2px solid red; */
        padding: 10px;
    }

}
