

<div class="firstBlock">
    <div class="weekSales">
        <div>
            <span>Week Sales</span>
            <span>{{weekSales()}}</span>
        </div>
        @if(weekSales() <= 0){
            <span class="noSalesWarn">
                No sales yet!
            </span>
        }@else{
            <apx-chart
            [series]="allSalesDuringWeek.series!"
            [chart]="allSalesDuringWeek.chart!"
            [labels]="allSalesDuringWeek.labels!"
            ></apx-chart> 
        }
        
    </div>

    <div class="boxAllPrices">

        <div class="boxOfSales">
            <div>
                <span>Revenue</span> <!--  -->
                <span>$2.345</span>
            </div>
            <p>
                <i class="fa-solid fa-arrow-down"></i>
                <span class="decreased">-0.10%</span>
                <span>Since last week</span>
            </p>
        </div>
    
        <div class="boxOfSales">
            <div>
                <span>Total Sales</span>
                <span>{{this.yearSales()}}</span>
            </div>
            <p>
                <i class="fa-solid fa-arrow-up"></i>
                <span class="increased">+11.5%</span>
                <span>Since last week</span>
            </p>
        </div>
    
    </div>

</div>


<div class="secondBlock">
    <div class="yearSales">
        <apx-chart class="dataYear"
            [series]="allSalesDuringYear.series!"
            [chart]="allSalesDuringYear.chart!"
            [xaxis]="allSalesDuringYear.xaxis!"
            [title]="allSalesDuringYear.title!"
        ></apx-chart>
    </div>
    
    <div class="boxInvoices">
        <div class="nav">
            <span style="padding-left: 5px;">Recent Invoices</span>
            <i class="fa-solid fa-angle-down" style="padding-right: 5px;"></i>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Vinicius</td>
                    <td>23/10/2004</td>
                    <td ><span class="statusPayment paid">Paid</span></td>
                    <td>$200</td>
                </tr>
                

            </tbody>
        </table>
    </div>

</div>



