

<div class="firstBlock">
    <div class="weekSales">
        
        @if(weekSales() <= 0){
            <span class="salesWarn">
                No sales this week!
            </span>
        }@else{
            <div class="yesSalesNow">
                <span>Week Sales</span>
                <span>{{weekSales()}}</span>
            </div>

            <apx-chart *ngIf="allSalesDuringWeek"
            [series]="allSalesDuringWeek.series!"
            [chart]="allSalesDuringWeek.chart!"
            [labels]="allSalesDuringWeek.labels!"
            ></apx-chart> 
        }
        
    </div>

    <div class="boxAllPrices">

        <div class="boxOfSales">
            <div>
                <span>Revenue</span> <!--  -->
                <span>${{this.revenue}}</span>
            </div>
            <p>
                <i class="fa-solid fa-arrow-down"></i>
                <span class="decreased">- 0.10%</span>
                <span>Since last week</span>
            </p>
        </div>
    
        <div class="boxOfSales">
            <div>
                <span>Total Sales</span>
                <span>{{this.yearSales}}</span>
            </div>
            <p>
                <i class="fa-solid fa-arrow-up"></i>
                <span class="increased">+11.5%</span>
                <span>Since last week</span>
            </p>
        </div>
    
    </div>

</div>


<div class="secondBlock">
    <div class="yearSales">
        <apx-chart class="dataYear" *ngIf="allSalesDuringYear"
            [series]="allSalesDuringYear.series!"
            [chart]="allSalesDuringYear.chart!"
            [xaxis]="allSalesDuringYear.xaxis!"
            [title]="allSalesDuringYear.title!"
        ></apx-chart>
    </div>
    
    <div class="boxInvoices">
        <div class="nav">
            <span style="padding-left: 5px;">Recent Invoices</span>
            <i class="fa-solid fa-angle-down" style="padding-right: 5px;"></i>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th class="sizeP">ID</th>
                    <th class="sizeM">User</th>
                    <th class="sizeM">Order Date</th>
                    <th class="sizeM">Status</th>
                    <th class="sizeM">Price</th>
                </tr>
            </thead>
            <tbody>
                @for(user of invoices$ | async;track $index){
                
                    <tr>
                        <td>{{user.userId}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.date | date:'MM/dd/yyyy'}}</td>
                        <td><span class="statusPayment paid">{{user.status}}</span></td>
                        <td>${{user.price}}</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>



