
<form class="shippingForm">
    <h5>Address</h5>

    <div>
        <label for="">Street</label>
        <input type="text">

        <label for="">House Number</label>
        <input type="number" name="" id="">

    </div>

    <div>
        <label for="">Apartment, suite (optional)</label>
        <input type="text">
    </div>

    <div>
        <label for="">City</label>
        <input type="text">

        <label for="">ZIP code</label>
        <input type="number">
    </div>

    <div>
        <label for="">State</label>
        <input type="text">

        <label for="">Country</label>
        <input type="text">
    </div>

    
    <button>Finalize</button>
    


</form>


<form (submit)="handleSubmit()" *ngIf="shippingForm">
    <h3 style="text-align: center;">Total a pagar: R$ {{ amount }}</h3>
    <div id="payment-element">

    </div>

    
    <div class="boxBtn">
        <button type="submit" [disabled]="loading" *ngIf="!message">
            {{ loading ? 'Processando...' : 'Pagar' }}
        </button>
    </div>

    <div *ngIf="message" class="messageERROR">{{ message }}</div>
</form>
