

<form (submit)="handleSubmit()">

    <div id="payment-element">

    </div>

    <div class="subTotalBox" *ngIf="!message">
        <span>SubTotal ({{quantity}} items)</span>
        <span>${{amount}}</span>
    </div>

    <div class="totalAmount" *ngIf="!message">
        <span>Total Amount</span>
        <span>${{amount}}</span>
    </div>
    
    <div class="boxBtn">
        <button type="submit" [disabled]="loading" *ngIf="!message">
            {{ loading ? 'Loading...' : 'Buy' }}
        </button>
    </div>

    <div *ngIf="message" class="messageERROR">{{ message }}</div>
</form>




