

<form (submit)="submitOfPurchaseConclusion()">

    <div id="payment-element">

    </div>

    <div class="subTotalBox" *ngIf="!paymentElements.message">
        <span>SubTotal ({{paymentElements.quantity}} items)</span>
        <span>${{paymentElements.amount}}</span>
    </div>

    <div class="totalAmount" *ngIf="!paymentElements.message">
        <span>Total Amount</span>
        <span>${{paymentElements.amount}}</span>
    </div>
    
    <div class="boxBtn">
        <button type="submit" [disabled]="loading" *ngIf="!paymentElements.message">
            {{ loading ? 'Loading...' : 'Buy' }}
        </button>
    </div>

    <div *ngIf="paymentElements.message" class="messageERROR">{{ paymentElements.message }}</div>
</form>




