

<div class="mainDiv" *ngIf="userDetails$ | async as user">
    <div class="header">
        <div class="boxHeader">
            <img src="assets/icons/company.png" alt="">
            <div>
                <span>Vinicius</span>
                <span>viniciuseloi.com</span>
            </div>
        </div>

        <span class="title">User Information</span>

        <button (click)="editUserInfoButton()">Edit</button>
    </div>  

    <div class="body">

        <h5 class="title">Eddress</h5>

        <form [formGroup]="userForm">

            <div>
                <label for="">Username</label>
                <input type="text" name="username" formControlName="username" [readOnly]="readOnlyInputs">

                <label for="">Email</label>
                <input type="text" name="email" formControlName="email" [readOnly]="readOnlyInputs">

                <label for="">Country</label>
                <input type="text" name="country" formControlName="country" [readOnly]="readOnlyInputs">

            </div>

            <div>
                <label for="">Street</label>
                <input type="text" name="street" formControlName="street" [readOnly]="readOnlyInputs">

                <label for="">House Number</label>
                <input type="number" name="houseNumber" formControlName="houseNumber" [readOnly]="readOnlyInputs">

                <label for="">City</label>
                <input type="text" name="city" formControlName="city" [readOnly]="readOnlyInputs">

            </div>

            <div>
                <label for="">Zip Code</label>
                <input type="number" name="zipCode" formControlName="zipCode" [readOnly]="readOnlyInputs">

                <label for="">State</label>
                <input type="text" name="state" formControlName="state" [readOnly]="readOnlyInputs">

                <label for="">Apartment (Optional)</label>
                <input type="text" name="apartment" formControlName="apartment" [readOnly]="readOnlyInputs">

            </div>
 
            
        </form>

        <button class="btnSaveEdition" (click)="saveEditionButton()" *ngIf="editionMode">Save</button>


    </div>

    <div class="footer">
        <h5 class="title">User Purchases</h5>
        <div class="boxUserPurchase">

            <div class="boxesInfo">
                <div>
                    <span>Total Purchases</span>
                    <span>10</span>
                </div>

                <p>
                    <i class="fa-solid fa-arrow-up"></i>
                    <span class="increased">+ 10%</span>
                    <span>Since last week</span>
                </p>
            </div>

            <div class="boxesInfo">
                <div>
                    <span>Ammount</span>
                    <span>$ 1.000</span>
                </div>
                <p>
                    <i class="fa-solid fa-arrow-up"></i>
                    <span class="increased">+11.5%</span>
                    <span>Since last week</span>
                </p>
            </div>
        </div>
    </div>


</div>