<div *ngIf="!(userDetails$ | async)">
    <div class="bigSpinner"></div>
</div>

<div class="mainDiv" *ngIf="userDetails$ | async as user">
    <div class="header">
        <div class="boxHeader">
            <img src="assets/icons/company.png" alt="">
            <div>
                <span>{{user.username}}</span>
                <span>{{user.email}}</span>
            </div>
        </div>

        <span class="title">User Information</span>

        <button (click)="editUserInfoButton()">Edit</button>
    </div>  

    <div class="body">

        <h5 class="title">Eddress</h5>

        <form [formGroup]="userForm">

            <div>
                
                <label for="">
                    Username 
                    <i class="fa-solid fa-circle-exclamation exclamation" *ngIf="username.invalid"></i>
                </label>

                <input type="text" name="username" formControlName="username" [readOnly]="readOnlyInputs">
                

                <label for="">
                    Email
                    <i class="fa-solid fa-circle-exclamation exclamation" *ngIf="email.invalid"></i>
                </label>
                <input type="text" name="email" formControlName="email" [readOnly]="readOnlyInputs">

                <label for="">
                    Country
                    <i class="fa-solid fa-circle-exclamation exclamation" *ngIf="country.invalid"></i>
                </label>
                <input type="text" name="country" formControlName="country" [readOnly]="readOnlyInputs">

            </div>

            <div>
                <label for="">
                    Street
                    <i class="fa-solid fa-circle-exclamation exclamation" *ngIf="street.invalid"></i>
                </label>
                <input type="text" name="street" formControlName="street" [readOnly]="readOnlyInputs">

                <label for="">
                    House Number
                    <i class="fa-solid fa-circle-exclamation exclamation" *ngIf="houseNumber.invalid"></i>
                </label>
                <input type="number" name="houseNumber" formControlName="houseNumber" [readOnly]="readOnlyInputs">

                <label for="">
                    City
                    <i class="fa-solid fa-circle-exclamation exclamation" *ngIf="city.invalid"></i>
                </label>
                <input type="text" name="city" formControlName="city" [readOnly]="readOnlyInputs">

            </div>

            <div>
                <label for="">
                    Zip Code
                    <i class="fa-solid fa-circle-exclamation exclamation" *ngIf="zipCode.invalid"></i>
                </label>
                <input type="number" name="zipCode" formControlName="zipCode" [readOnly]="readOnlyInputs">

                <label for="">
                    State
                    <i class="fa-solid fa-circle-exclamation exclamation" *ngIf="state.invalid"></i>
                </label>
                <input type="text" name="state" formControlName="state" [readOnly]="readOnlyInputs">

                <label for="">
                    Apartment (Optional)
                </label>
                <input type="text" name="apartment" formControlName="apartment" [readOnly]="readOnlyInputs">

            </div>
 
            
        </form>

        <button class="btnSaveEdition" (click)="saveEditionButton()" *ngIf="editionMode">Save</button>

    </div>

    <div class="footer">
        <h5 class="title">User Purchases</h5>
        <div class="boxUserPurchase">

            <div class="boxesInfo">
                <div>
                    <span>Total Purchases</span>
                    <span>{{user.purchases}}</span>
                </div>

                <p>
                    <i class="fa-solid fa-arrow-up"></i>
                    <span class="increased">+ 10%</span>
                    <span>Since last week</span>
                </p>
            </div>

            <div class="boxesInfo">
                <div>
                    <span>Ammount</span>
                    <span>$ {{user.ammount}}</span>
                </div>
                <p>
                    <i class="fa-solid fa-arrow-up"></i>
                    <span class="increased">+11.5%</span>
                    <span>Since last week</span>
                </p>
            </div>
        </div>
    </div>


</div>