

<aside>
    <div class="profile">
        <img src="assets/icons/company.png" alt="">
        <span>Clothe Store</span>
        
    </div>

    <ul class="navigationLinks">
        <li>
            <a routerLink="/developer_side/dashboard/sales" routerLinkActive="active">Sales</a>
        </li>
        
        <li>
            <a routerLink="/developer_side/dashboard/a" routerLinkActive="active">example</a>
        </li>
        
        <li>
            <a routerLink="/developer_side/dashboard/b" routerLinkActive="active">example</a>
        </li>
        
        <li>
            <a routerLink="/developer_side/dashboard/c" routerLinkActive="active">example</a>
        </li>
    </ul>
</aside>

<main>
    <router-outlet/>
</main>

