

<div class="slideOne">
    
    <div class="boxBanner"> <!-- src="" -->
        <img ngSrc="assets/banners/banner-grandient.png" height="550" width="1920" priority alt="Woman model">
        <div class="advertasing">
            <h2>Fashion Jackets</h2>
            <span>UP TO 50% OFF ON TOP BRANDS</span>
            <a routerLink="/feminine/jackets">SHOP NOW</a>
        </div>
    </div>


    <div id="navigationProducts">
        @for (item of navigateByTheme; track $index) {
            <div class="boxCategory">
                <img [ngSrc]="item.image" width="175" height="180" [alt]="item.title" priority>
                
                <div>
                    <span class="titleProductsNavigation">{{item.title}}</span>
                    <a [routerLink]="item.linkNavegation">Check Now</a>
                </div>
            </div>
        }                
    </div>

    

</div>



<div class="secondSlide">
    <div class="boxSecondSlide">
        <p class="autoShow">"Every great day starts with a great outfit. Our apparel is designed to elevate your everyday—blending comfort, quality, and style for those who mean business. Dress like your future depends on it—because it does."</p>
    </div>

    <div class="boxSecondSlide">
        <img ngSrc="assets/homeImgs/camarera.png" width="800" height="500" class="autoShow" alt="camarera img" priority>
    </div>
</div>



<div class="thirdSlide">

    <div class="slideExplores">

        <div class="explore1 autoShowToThirdBlock" style="background-image: url('assets/homeImgs/exploreOne.png');">
            <div>
                <p>Elegance is Always in Style.</p>
                <p>Spring Collection</p>
                <a routerLink="/feminine/shortsfemi">Explore more</a>
            </div>
        </div>

        <div class="explore2 autoShowToThirdBlock" style="background-image: url('assets/homeImgs/exploreTwo.png');">
            <div>
                <p>Dress Well, Feel Powerful.</p>
                <p>-25% Off Items</p>
                <a routerLink="/feminine/shoesfemi">Explore more</a>
            </div>
        </div>

    </div>
    
    <div class="bestSellersBox">

        <h3>Our BestSellers</h3>

        <div class="homeCards" data-testid="structurePattern">
        
            @for(item of clothesBestsellers$ | async; track $index){
                <div class="bestSellersCard">
                    <div class="bestSellerImg" (click)="productDetails(item.id!)">
                        <img [src]="item.image" [alt]="item.name">
                    </div>
                    <div class="boxInfoProduct">
                        <span>$ {{item.price.toFixed(2)}}</span>
                        <span>{{item.info}}</span>
                    </div>
                    <div class="btnsProduct">
                        <button (click)="productDetails(item.id!)"><i class="fa-solid fa-shirt"></i></button>
                        <button aria-label="heart icon" (click)="clickInHeart(item)">
                            <i class="fa-regular fa-heart" *ngIf="item.isFavorite == false"></i>
                            <i class="fa-solid fa-heart" *ngIf="item.isFavorite == true"></i>
                        </button>
                        
                    </div>
                </div>
            }
        </div>

    </div>

</div>





