
:host{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.slideOne{
    position: relative;
    width: 100%;
    height: 85vh;
    margin-bottom: 1rem;
}

.boxBanner{
    position: relative;
}
.boxBanner img{
    width: 100%;
    height: 550px;
}

.advertasing{
    position: absolute;
    left: 60%;
    top: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.advertasing h2{
    font-weight: bolder;
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-family: var(--PrimaryFont)
}
.advertasing span{
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--PrimaryFont)
}

.advertasing a{
    text-decoration: none;
    font-size: .9rem;
    border: none;
    color: white;
    background-color: black;
    font-weight: 500;
    padding: .3rem .7rem;
    font-family: var(--PrimaryFont)
}



#navigationProducts{
    max-width: 1100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    position: absolute;
    bottom: 2%;
    right: 0;

}

.boxCategory{
    height: 200px;
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.234);
}

.boxCategory img{
    width: 50%;
    height: 90%;
}
.boxCategory div{
    display: flex;
    flex-direction: column;
}
.titleProductsNavigation{
    font-family: var(--PrimaryFont);
    font-size: 1.3rem;
    
}

.boxCategory div a{
    border: none;
    background-color: black;
    color: white;
    font-weight: 500;
    padding: .3rem .6rem;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-family: var(--PrimaryFont);
    font-size: 1.1rem;

}

/* END OF FIRST SLIDE */


/* SECOND SLIDE */
.secondSlide{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.boxSecondSlide{
    display: flex;
    padding: 20px;
}


.boxSecondSlide p{
    padding: 5px;
    max-width: 600px;
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    font-family: var(--SecundaryFont);

}

.boxSecondSlide img{
    max-width: 800px;
    width: 100%;
    height: 500px;
}

/* THIRD SLIDE */

.thirdSlide{
    display: flex;
    flex-direction: column;
}

.slideExplores{
    display: flex;
    justify-content: space-evenly;
}

.slideExplores div{
    width: 550px;
    height: 350px;
}


.slideExplores .explore1:hover div, .explore2:hover div{
    opacity: .8;
    background-color: white;
    transition: .2s ease-in-out;
}




.explore1{
    background-image: url('/clothes-store/assets/homeImgs/exploreOne.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore1 div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.explore2{
    background-image: url('/clothes-store/assets/homeImgs/exploreTwo.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.explore2 div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.slideExplores div p{
    font-size: 1.7rem;
    font-weight: 600;
    font-family: var(--PrimaryFont);
    letter-spacing: 1px;
}

.slideExplores div h5{
    font-family: var(--PrimaryFont);
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.slideExplores div div a{
    font-family: var(--PrimaryFont);
    font-size: 1.1rem;
    letter-spacing: 2px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: .4rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}



/* best sellers */
.bestSellersBox{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.bestSellersBox h3{
    font-family: var(--PrimaryFont);
    letter-spacing: 2px;
}


.homeCards{
    display: flex;
    justify-content: space-evenly;
}

.bestSellersCard{
    position: relative;
    height: 300px;
    width: 280px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: .5s;
}

.bestSellersCard:hover{
    transform: scale(1.1);
    z-index: 5;
}

.bestSellerImg{
    width: 100%;
    height: 240px;
    background-color: rgba(234, 234, 234, 0.234);
    cursor: pointer;
}

.bestSellerImg img{
    width: 100%;
    height: 100%;
}




/* ANIMATIONS */
.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}


.autoShowToThirdBlock{
    animation: autoShowAnimationToThird both;
    animation-timeline: view(70% 5%);
}


@keyframes autoShowAnimationToThird{
    from{
        opacity: 0;
        transform: translateY(-50px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(-160px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}



@media (max-width: 1024px){

    .slideOne{
        height: 50vh;
    }

    #navigationProducts{
        position: absolute;
        bottom: 2%;
        right: 0;
    }

    .boxCategory{
        height: 180px;
        max-width: 300px;
        width: 100%;
    }

    .boxCategory div a{
        padding: .2rem .1rem;
        width: 90px;
        
    }
    .titleProductsNavigation{
        font-family: 1.1rem;
    }

    /* SECOND SLIDE */

    .secondSlide{
        height: 60vh;
    }
    
    .boxSecondSlide p{
        padding: 5px;
        max-width: 600px;
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        animation: none;
    }

    .boxSecondSlide img{
        max-width: 1000px;
        width: 100%;
        height: 500px;
        animation: none;
    }

    /* THIRD SLIDE */

    .slideExplores div{
        width: 440px;
        height: 350px;
    }

    .explore1, .explore2{
        animation: none;
    }

    .explore1 div{
        opacity: .8;
        background-color: var(--bg-color);
    }
    .explore2 div{
        opacity: .8;
        background-color: var(--bg-color);
    }

    /* best sellers */
    .homeCards{
        display: flex;
        justify-content: space-evenly;
    }

    .bestSellersCard{
        position: relative;
        height: 300px;
        width: 220px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        transform-style: preserve-3d;
        transition: .5s;
    }

}


@media (max-width: 820px){
    .slideOne{
        height: 55vh;
    }

    .boxCategory{
        height: 150px;
        max-width: 250px;
        width: 100%;
    }

    /* SECOND SLIDE */
    
    .boxSecondSlide p{
        padding: 5px;
        max-width: 600px;
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
    }

    .boxSecondSlide img{
        max-width: 1000px;
        width: 100%;
        height: 450px;
    }

    /* THIRD SLIDE */

    .slideExplores div{
        width: 350px;
        height: 250px;
    }

    .slideExplores div p{
        font-size: 1.3rem;
        font-weight: 600;
        font-family: var(--PrimaryFont);
        letter-spacing: 1px;
    }

    .slideExplores div h5{
        font-family: var(--PrimaryFont);
        font-size: 1.3rem;
        letter-spacing: 1px;
    }

    /* best sellers */

    .bestSellersCard{
        position: relative;
        height: 250px;
        width: 180px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        transform-style: preserve-3d;
        transition: .5s;
    }

}


@media (max-width: 768px){
    .slideOne{
        height: 65vh;
    }

    .boxCategory{
        height: 140px;
        max-width: 230px;
        width: 100%;
    }

    .boxCategory div a{
        padding: .1rem .1rem;
        width: 90px;
    }

    /* SECOND SLIDE */
    .secondSlide{
        height: 50vh;
    }
    .boxSecondSlide img{
        max-width: 1000px;
        width: 100%;
        height: 400px;
    }
    
}


@media screen and (max-width: 480px){
    .slideOne{
        position: static;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .boxBanner{
        height: 360px;
    }

    .boxBanner img{
        width: 100%;
        height: 350px;
    }

    .advertasing{
        position: absolute;
        left: 45%;
        top: 30%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .advertasing h2{
        font-weight: bolder;
        font-size: 1.3rem;
        letter-spacing: 2px;
        color: black;
    }

    .advertasing span{
        color: black;
        font-size: .7rem;
        font-weight: 500;
    }

    .advertasing button{
        font-size: .8rem;
        border: none;
        color: white;
        background-color: black;
        font-weight: 500;
        padding: .3rem .7rem;
    }


    #navigationProducts{
        max-width: 1100px;
        width: 100%;
        height: 440px;
        display: grid;
        grid-template-columns: 1fr;

        position: static;
        bottom: none;
        right: none;
    }

    .boxCategory{
        height: 140px;
        max-width: 300px;
        width: 100%;
    }

    /* SECOND SLIDE */

    .secondSlide{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .boxSecondSlide p{
        padding: 5px;
        max-width: 600px;
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        animation: none;
    }

    .boxSecondSlide img{
        height: 400px;
        animation: none;
    }

    /* THIRD SLIDE */
    
    .slideExplores{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .homeCards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .bestSellersCard{
        position: relative;
        height: 300px;
        width: 280px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        transform-style: preserve-3d;
        transition: .5s;
    }
}


@media screen and (orientation: landscape) and (max-height: 480px){
    .slideOne{
        height: 100%;
    }

    .advertasing h2{
        font-size: 1.3rem;
        letter-spacing: 1px;
    }
    .advertasing span{
        color: black;
        font-size: .9rem;
        font-weight: 500;
    }

    /*  */

    .secondSlide{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


    /* third slide */
    .slideExplores div{
        width: 300px;
        height: 250px;
    }

    .slideExplores div p{
        font-size: 1.3rem;
        font-weight: 600;
        font-family: var(--PrimaryFont);
        letter-spacing: 1px;
    }

    .slideExplores div h5{
        font-family: var(--PrimaryFont);
        font-size: 1.3rem;
        letter-spacing: 1px;
    }

    .homeCards{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

}


@media screen and (orientation: landscape) and (min-height: 768px) and (min-width: 1024px){

    .slideOne{
        height: 90vh;
    }

    .secondSlide{
        height: 70vh;
    }

}
