<div id="container">
    <div id="conteudo">
        <div class="slideOne">

            <div class="infoAboutProduct">
                <div class="boxInfo">
                    <p>Classic Exclusive</p>
                    <h2>Women's Collection</h2>
                    <span>UP TO 40% OFF</span>
                    <button>Shop Now <i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>

            <div class="imgProduct">
                <img src="../assets/homeImgs/woman.png" alt="Woman model">
            </div>
        </div>
    </div>

        <!-- conteudo two -->
    <div class="container conteudoTwo">

        <div class="categories">

            <h3>Search By Category</h3>

            <div id="carousel">
                @for (item of navigateByTheme; track $index) {

                    <div class="boxCategory">
                        <img [src]="item.image" alt="">
                        <a class="linkNavigation">{{item.nameNavigationTo}}</a> 
                    </div>
                }                
            </div>


        </div>


        <div class="bestSellers">
            <h3>Our BestSellers</h3>

            <div class="carouselBestSellers">
                <div class="boxBestSellers">
                    <img src="../assets/homeImgs/bitch-short.png" alt="">
                    
                </div>
                <div class="boxBestSellers">
                    <img src="../assets/homeImgs/white-blue-jacket.png" alt="">
                    
                </div>
                <div class="boxBestSellers">
                    <img src="../assets/jackets/brown-jacket.png" alt="">
                    
                </div>
                <div class="boxBestSellers">
                    <img src="" alt="">
                    
                </div>

            </div>

        </div>

    </div>



</div>
