
<div class="title" *ngIf="!isChildRouteActive()">
    <h1>Welcome Back, Vini!</h1>
</div>


<div class="toolsContainer" *ngIf="!isChildRouteActive()">


    <div class="toolBox" (click)="dashborad()">
        <img src="./assets/icons/profit_graph2.png" alt="">
        <h5>Data & Reports</h5>
        <p>View your company profit.</p>
    </div>
    
    <div class="toolBox" (click)="warehouse()">
        <img src="./assets/icons/warehouse.png" alt="">
        <h5>Product Management</h5>
        <p>View all of your products.</p>
    </div>

</div>


<router-outlet></router-outlet>

