<div id="container">
    <div id="conteudo">
        <h2>Shopping</h2>
        <ul id="navLinks" >
            <li><a>Home</a></li>
            <li id="dropdown">
                <a class="shopBtn">Shop <i class="fa-solid fa-caret-down"></i></a>
                <ul id="submenu">
                    <li><a>Shorts</a></li>
                    <li><a>Suiters</a></li>
                    <li><a>Sockets</a></li>
                </ul>
            </li>


            <li><a>Our Story</a></li>
            <li><a>Blog</a></li>
            <li><a>Contact us</a></li>
        </ul>


        <div id="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-store"></i>
            <button>Login</button>
        </div>
    </div>
    
</div>
