<div id="container">
    <div id="conteudo">
        <h2 routerLink="/home" class="titleNav">Shopping</h2>

        <ul id="navLinks">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/feminine">Feminine</a></li>
            <li><a routerLink="/masculine">Masculine</a></li>
        </ul>

        <!-- normal icons -->
        <nav id="icons">
            <mat-slide-toggle color="warn" [(ngModel)]="isDarkMode" (change)="toggleTheme(isDarkMode)">
                <span [ngClass]="{'activatedDark': isDarkMode}" class="darkModeText">Dark Mode</span>
                
            </mat-slide-toggle>
            
            <a data-testid="devIcon" routerLink="/developer_side" *ngIf="(DEV_logged$ | async) && (isAuthenticated$ | async)"><i class="fa-solid fa-screwdriver-wrench"></i>
            </a>

            <i class="fa-regular fa-heart" routerLink="/favorites"></i>
            <div class="boxCartIcon">
                <i class="fa-solid fa-store openCartIcon" (click)="openCart()"></i>
                <span class="contCart">{{totalQuantityProducts_inCart$ | async}}</span>
            </div>
            <i class="fa-solid fa-bars" id="barIcon" (click)="openMobileAsideBar()"></i>

            <a routerLink="/login" *ngIf="!(isAuthenticated$ | async) && !(auth0.isAuthenticated$ | async)" class="loginPrincipal" data-testid="loginBTN">Login</a>
            
            <a data-testid="logouIcon" routerLink="/home" class="logoutPrincipal" *ngIf="(isAuthenticated$ | async) || (auth0.isAuthenticated$ |async)"><i  (click)="logout()" class="fa-solid fa-arrow-right-from-bracket logOutIcon"></i></a>
        </nav>

        <!-- mobile icons -->
        <nav class="iconsMobile">
            <div class="boxCartIcon">
                <i class="fa-solid fa-store openCartIcon" (click)="openCart()"></i>
                <span class="contCart">{{totalQuantityProducts_inCart$ | async}}</span>
            </div>
            <i class="fa-solid fa-bars" id="barIcon" (click)="openMobileAsideBar()"></i>
        </nav>

        <!-- mobile side -->
        <div id="mobileSide" [ngClass]="{'activeMobile': mobileSideActive}">

            <ul id="mobileLinks">
                <li><a routerLink="/"><i class="fa-solid fa-house"></i></a></li>
                <li id="dropdown">
                    <a class="shopBtn" (click)="showSubLinksMobile()">
                        <i class="fa-solid fa-caret-down caretDown" [ngClass]="{'goingLeft': sexoChosen}"></i> 
                        <i class="fa-solid fa-shirt"></i> 
                    </a>
                    <ul id="submenuMobile" [ngClass]="{'activeSexoSection': sexoChosen}">
                        <li><a routerLink="/feminine">Feminine</a></li>
                        <li><a routerLink="/masculine">Masculine</a></li>
                    </ul>
                </li>

                <li><a routerLink="/favorites"><i class="fa-regular fa-heart"></i></a></li>
                
                <li ><a routerLink="/developer_side"><i class="fa-solid fa-screwdriver-wrench"></i></a></li>

                <li *ngIf="!(isAuthenticated$ | async) || !(auth0.isAuthenticated$)"><a routerLink="/login" ><i class="fa-solid fa-user"></i></a></li>
                <li *ngIf="(isAuthenticated$ | async)"><a routerLink="/home"><i  (click)="logout()" class="fa-solid fa-arrow-right-from-bracket logOutIcon"></i></a></li>

            </ul>

        </div>
        
    </div>
    
    <!-- shadow -->
    <div [ngClass]="{'overlay': shadowActive}" (click)="removeShadow()"></div>

    <!-- cart -->
    <aside id="aside" [ngClass]="{'active': isAsideCartOpen}">

        <div class="closeAside">
            <i class="fa-solid fa-xmark" (click)="btnXcloseCart()"></i>
        </div>

        <div class="asideContent">
            <ul class="structureCart">
                @for(product of products; track $index){
                    <li>
                        <img [src]="product.image" [alt]="product.name">
                        <span>{{product.name}}</span>
                        <div class="boxQtd">
                            <i class="fa-solid fa-plus" (click)="addMore(product.id!)"></i>
                            
                            <span>{{product.cart_quantity}}</span>
                            <i class="fa-solid fa-minus" (click)="removeFromCart(product.id!) "></i>
                        </div>
                        
                    </li>
                }
            </ul>
            
        </div>

        <div class="btnCart">
            <button class="btnBuy" (click)="buying()">{{totalPriceCart$ | async}}<span>Buy</span></button>
            <button class="btnClose" (click)="btnCloseCart()">Close</button>
        </div>
        

    </aside>
    
    
</div>
