
#container{
    width: 100%;
    height: 12vh;
    /* border: 2px solid black; */
    position: relative;

}



#conteudo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#conteudo h2{
    margin: 0%;
    margin-left: 1.5rem;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    font-family: var(--PrimaryFont);
}



#navLinks{
    padding: 0%;
    margin: 0%;
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
#navLinks li{
    position: relative;
}

#navLinks li a{
    color: var(--text-color);
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: var(--PrimaryFont);

}

#navLinks li a:hover{
    text-decoration: underline;
    
}
.shopBtn{
    text-decoration: none;

}
#dropdown{
    position: relative;
}

.languageSelect{
    border: none;
    cursor: pointer;
    font-family: var(--PrimaryFont);
    font-size: 1.2rem;
    outline: none;
}

.languageSelect option{
    font-family: var(--PrimaryFont);
    font-size: 1.2rem;
    outline: none;
}

.darkModeText{
    font-weight: bold;
    font-family: var(--PrimaryFont);
    font-size: 1rem;
}

.darkModeText.activatedDark{
    color: white;
}



#icons{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-right: 1.5rem;
}
#icons i{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
}
#icons i:hover{
    text-shadow: 2px 2px 5px var(--text-color);
}

#icons .loginPrincipal{
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--text-color);
    border: none;
    padding: .4rem .9rem;
    font-weight: 600;
    border-radius: 5px;
}
#icons .logoutPrincipal{
    color: black;
}

.boxCartIcon{
    position: relative;
}

.contCart{
    font-size: .9rem;
    font-weight: 500;
    position: absolute;
    top: 40%;
    right: -30%;
    pointer-events: none;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color:white;
    
}

/* aside */
#aside{
    position: fixed;
    top: 0%;
    left: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    box-shadow: 5px 5px 5px 5px black;
    width: 300px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s ease-in-out;
}


#aside.active{
    left: calc(100% - 300px);
}

.closeAside{
    position: relative;
    width: 100%;
    height: 60px;
}
.closeAside i {
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.closeAside i:hover{
    background-color: red;
}

.asideContent{
    width: 100%;
    height: 100%;
}


.btnCart{
    width: 100%;
    height: 50px;
    display: flex;
}

.btnCart button{
    width: 50%;
    height: 100%;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    border: none;
}

.btnBuy{
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnClose{
    background-color: red;
}

.asideContent ul{
    list-style: none;
}


/* bar icon */
#barIcon{
    display: none;
}

#mobileSide{
    position: fixed;
    top: 0%;
    left: 100%;
    height: 100%;
    bottom: 0;
    width: 60px;
    z-index: 10;
    transition: 0.3s ease;
    background-color: rgba(255, 255, 255, 0.91);
    box-shadow: 5px 5px 5px 2px black;
}

/* mobile links */
#mobileLinks{
    display: flex;
    flex-direction: column;    
    list-style: none;
    padding: 0;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#mobileSide.activeMobile{
    left: calc(100% - 60px);
}

#mobileLinks li a{
    font-size: 1.5rem;
    color: black;
}

/* dropdown mobile */

#submenuMobile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    width: 150px;
    height: 90px;
    top: -68%;
    right: -400%;
    list-style-type: none;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.91);
    padding:0% ;
    z-index: 10;
    transition: .3s ease;
}

#submenuMobile.activeSexoSection{
    right: calc(400% - 275%);
}


#submenuMobile li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 5px;
}


/* icons mobile  */
.iconsMobile{
    display: none;
    gap: 1.5rem;
    align-items: center;
    margin-right: 1.5rem;
}

.iconsMobile i{
    font-size: 1.5rem;
    cursor: pointer;
}

.shopBtn{
    display: flex;
}

.caretDown{
    font-size: 1rem;
}

.caretDown.goingLeft{
    animation: caretDownLeft .3s forwards;
}

@keyframes caretDownLeft{
    from{
        transform: rotate(0);
    }to{
        transform: rotate(90deg) translateY(30%) translateX(-50%);
    }
}

/* shadow */
.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}


/* structure inside cart */
.structureCart{
    padding: 0%;
}
.structureCart li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.structureCart li img{
    width: 60px;
    height: 60px;
}

.boxQtd{
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.boxQtd i{
    cursor: pointer;

}

@media (max-width: 768px){
    #barIcon{
        display: flex;
    }
    #navLinks{
        display: none;
    }

    #icons{
        display: none;
    }
    .iconsMobile{
        display: flex;
    }



}


@media (max-width: 440px){
     /* aside cart */
    #aside{
        position: fixed;
        top: 0%;
        left: 100%;
        height: 100vh;
        width: 100%;
    }
    #aside.active{
        left: calc(100% - 100%);
    }
}
