

<div class="boxTitle">
    <h5>Address</h5>
</div>

<form [formGroup]="shipForm" data-testid="shipform">
    <div class="boxInput">
        <label for="">Street</label>
        <input type="text" name="street" formControlName="street">
        @if(btnGoToPaymentFormSubmitted){
        <span class="msgErro">{{messageErro('street')}}</span>
        }
    </div>
    

    <div class="boxInput">
        <label for="">House Number</label>
        <input type="number" name="houseNumber" formControlName="houseNumber">
        @if(btnGoToPaymentFormSubmitted){
            <span class="msgErro">{{messageErro('houseNumber')}}</span>
            }
    </div>
        
    <div class="boxInput">
        <label for="">Apartment, suite (optional)</label>
        <input type="text" name="apartment" formControlName="apartment">
    </div>

    <div class="boxInput">
        <label for="">City</label>
        <input type="text" name="city" formControlName="city">
        @if(btnGoToPaymentFormSubmitted){
            <span class="msgErro">{{messageErro('city')}}</span>
            }
    </div>

    <div class="boxInput">
        <label for="">ZIP code</label>
        <input type="number" name="zipCode" formControlName="zipCode">
        @if(btnGoToPaymentFormSubmitted){
            <span class="msgErro">{{messageErro('zipCode')}}</span>
            }
    </div>

    <div class="boxInput">
        <label for="">State</label>
        <input type="text" name="state" formControlName="state">
        @if(btnGoToPaymentFormSubmitted){
            <span class="msgErro">{{messageErro('state')}}</span>
        }
    </div>

    <div class="boxInput">
        <label for="">Country</label>
        <input type="text" name="country" formControlName="country">
        @if(btnGoToPaymentFormSubmitted){
            <span class="msgErro">{{messageErro('country')}}</span>
        }
    </div>
    

    <div class="btns">
        <button type="button" (click)="btnCancelFormShipping()">Cancel</button>
        <button type="submit" (click)="btnGoToPaymentForm()">Next Step</button>
    </div>

</form>