

<div class="boxTitle">
    <h5>Address</h5>
</div>

<form [formGroup]="shipForm">
    <div class="boxInput">
        <label for="">Street</label>
        <input type="text" name="street" formControlName="street">
        @if(submited){
        <span class="msgErro">{{messageErro('street')}}</span>
        }
    </div>
    

    <div class="boxInput">
        <label for="">House Number</label>
        <input type="number" name="houseNum" formControlName="houseNum">
        @if(submited){
            <span class="msgErro">{{messageErro('houseNum')}}</span>
            }
    </div>
        
    <div class="boxInput">
        <label for="">Apartment, suite (optional)</label>
        <input type="text" name="aditionalInfo" formControlName="aditionalInfo">
        @if(submited){
            <span class="msgErro">{{messageErro('aditionalInfo')}}</span>
            }
    </div>

    <div class="boxInput">
        <label for="">City</label>
        <input type="text" name="city" formControlName="city">
        @if(submited){
            <span class="msgErro">{{messageErro('city')}}</span>
            }
    </div>

    <div class="boxInput">
        <label for="">ZIP code</label>
        <input type="number" name="zipCode" formControlName="zipCode">
        @if(submited){
            <span class="msgErro">{{messageErro('zipCode')}}</span>
            }
    </div>

    <div class="boxInput">
        <label for="">State</label>
        <input type="text" name="state" formControlName="state">
        @if(submited){
            <span class="msgErro">{{messageErro('state')}}</span>
        }
    </div>

    <div class="boxInput">
        <label for="">Country</label>
        <input type="text" name="country" formControlName="country">
        @if(submited){
            <span class="msgErro">{{messageErro('country')}}</span>
        }
    </div>
    

    <div class="btns">
        <button (click)="cancel()">Cancel</button>
        <button (click)="nextStep()">Next Step</button>
    </div>

</form>