
:host{
    position: fixed;
    top: 0%;
    left: 0%;
}


.alertBody{
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.alertBody.error{
    background-color: red;
}

.alertBody.warning{
    background-color: #4d4c53;
}

.alertBody.info{
    background-color: blue;
}

.alertBody.success{
    background-color: green;

}


p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 20px;
}


