
<header class="container">
    <div class="navagationBar">
        <h3>New Arrivals</h3>

        <ul class="linksNav">
            <li><a routerLink="shorts" routerLinkActive="active">Shorts</a></li>
            <li><a routerLink="shirts" routerLinkActive="active">Shirts</a></li>
            <li><a routerLink="coats" routerLinkActive="active">Coats</a></li>
            <li><a routerLink="shoes" routerLinkActive="active">Shoes</a></li>
        </ul>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>


<!-- padrao card  -->

<!-- <div class="container">
    <div class="boxCardOfShorts">

        <div class="padraoCard">

            <div class="boxImg">
                <img [src]="" [alt]="">
            </div>

            <div class="boxInfoProduct">
                <span>$</span>
                <span></span>
            </div>

        </div>
                    
    </div>


</div> -->